<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thực hành An toàn thông tin nâng cao</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" class="img-fluid" style="max-width: 30%;">
            <h4 class="font-weight-bold mt-4">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
        </div>
        <div class="mt-5">
            <ul class="list-group">
                <li class="list-group-item"><a href="/caesar" class="text-decoration-none">Ceasar Cipher</a></li>
                <li class="list-group-item"><a href="/vigenere" class="text-decoration-none">Vigenere Cipher</a></li>
                <li class="list-group-item"><a href="/railfence" class="text-decoration-none">Rail Fence Cipher</a></li>
                <li class="list-group-item"><a href="/transposition" class="text-decoration-none">Transposition Cipher</a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>